@use '../../../styles/variable.scss' as *;

nav.sideMenu{
    max-width: 1000px;
    background-color: white;
    height: 100vh;
    padding-bottom: 150px;

    .head{
        padding: 6px 22px;
    }

    .controls{
        @include flex-display;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px 0;
        border-bottom: 1px solid #d8d8d8;
        margin-bottom: 12px;
    

        .lang-button {
        color: $text-grey;
        min-width: 50px;
        }

        .nav-close-button{
        @include flex-display;
        width: 25px;
        height: 25px;
        line-height: 35px;
        text-align: center;
        cursor: pointer;
        font-size: 14px;
        position: relative;
        top: 4px;
        color: $text-black;
        }
    }

    .button-wrapper{
    @include flex-display;
    flex-direction: column;
    row-gap: 16px;
        .login-profile-btn{
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            height: 50px;
            justify-content: center;

            &.my-account{
                padding: 0;
                background-color: white;
                color: $text-black;
                font-weight: 400;
                justify-content: flex-start;
                text-align: left;
                .username{
                    font-size: 16px;
                }
                .view-acct{
                    font-size: 14px;
                    color: $secondary-colour;
                }
                i{
                    color: $primary-colour;
                    font-size: 34px;
                }
            }
        }

        .watch-menu-wrapper{
            a{
                background-color:#F1F1F1;
                justify-content: center;
                &:hover{
                    background-color:#C9C9C9;
                    color: $text-black;
                }
            }
            ul li{
                &.active{
                    a,&::after{
                        color: $text-black;
                    }
                }

                ul li{
                    a{
                        background-color: #f7f7f7;
                        &:hover{
                            background-color: #f7f7f7;
                        }
                    }
                }
            }
        }
    }

    .mobile-menu-wrapper{
        padding: 0;

        .menu-wrapper{
            padding: 8px 0;
        }

        .divider{
            width: 100%;
            border:0;
            padding: 0 22px;
            
            hr{
                border: 0;
                border-bottom: 1px solid #d8d8d8;
            }
        }

        .footer-menu-wrapper{
            .menuList ul li a{font-family: $content-font;font-weight: 400; font-size: 16px;}
        }
    }
    


    // social media
    .social-media-wrapper{
        justify-content: flex-start;
        padding: 0 22px;
        margin-top: 16px;
        padding-top: 16px;
        gap: 32px;
    }
}
