@use '../../../../styles/variable.scss' as *;


    .enquiry-item {
        // width: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 60px;
        &:nth-last-child(-n+2):first-child,
        &:nth-last-child(-n+2):first-child ~ .item {
        /* 2 or Less */
        margin:  0 40px;
        }
    
        a {
            flex-direction: column;
            align-items: center;
            display: inline-flex;
            text-decoration: none;
            text-align: center;
            justify-content: center;
            
            .img-wrap {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 1.5px solid #0b0b0b;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                background-color: #f3f3f3;
    
                &:hover{
                    background-color: white;
                }
    
                img.phone {
                    width: auto;
                    height: 41px;
                }
    
                img.message {
                    width: auto;
                    height: 39px;
                }
    
                img.whatsapp {
                    width: auto;
                    height: 50px;
                }
    
                img.email {
                    width: auto;
                    height: 35px;
                }
    
                
    
            }
    
            h6 {
                font-family: $content-font;
                font-weight: 400;
                margin: 20px 0 0 0;
                color: $text-black;
                white-space: nowrap;
            }
        }                     
    
    }


@media screen and (max-width: 767px) {
        .enquiry-item {

            &:nth-last-child(n+3),
            &:nth-last-child(n+3) ~ .item {
                width: 50%;
            }
        
            a {
                .img-wrap {
                    width: 80px;
                    height: 80px;
        
                    img.phone {
                        width: auto;
                        height: 35px;
                    }
        
                    img.message {
                        width: auto;
                        height: 33px;
                    }
                    img.whatsapp {
                        width: auto;
                        height: 43px;
                    }
        
                    img.email {
                        width: auto;
                        height: 30px;
                    }
        
                }
        
                h6 {
                    margin: 16px 0 0 0;
                }
            }
        }
}

