@use '../../../styles/variable.scss' as *;

.tabs-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    
    .tabs-options{
        position: relative;
        overflow: hidden;
        border-bottom: 2px #D8D8D8 solid;
    }
    ul{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        list-style: none;
        padding: 0;
        margin: 0;
        align-items: center;
        li{
            margin: 0;
            font-family: $heading-font;
            font-size: 16px;
            text-align: center;
            padding: 8px 0;
            font-weight: 500;
            max-width: 160px;
            &.active,&:hover{
                color: $secondary-colour;
                border-bottom: 2px solid $secondary-colour;
            }
        }
    }

    
    
    .tabs-content{
        padding: 40px 0 0 0;
        font-family: $content-font;

        small{
            color: $text-grey;
        }
    }
}

@media screen and (max-width: 991px) {
    .tabs-wrapper{
        .tabs-options{
            .container{
                padding: 0;
            }
        }
        
        // swiper
        .swiper{
            
            position: relative;
            .swiper-wrapper{
                position: relative;
                .swiper-slide{
                    text-align: center;
                    div{
                        margin: 0;
                        font-family: $heading-font;
                        font-size: 16px;
                        text-align: center;
                        padding: 8px 0;
                        font-weight: 500;
                        display: inline-block;
                    }
                    .active{
                        color: $secondary-colour;
                        border-bottom: 2px solid $secondary-colour;
                    }
                } 
            }

            .swiper-button-next,
            .swiper-button-prev {
                    content: '';
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    background:white;
                    margin: 0 !important;
                    &:after {
                        font-family: 'nowicon' !important;
                        display: inline-block;
                        content: '\e904';
                        font-size: 18px;
                        color: #4a4a4a;
                        top: 0;
                    }

                    &:hover:after{
                        color: $secondary-colour;
                    }
                }
        }

        .tabs-content{
            padding: 32px 0 0 0;
        }

    }
}