@import '../../../styles/variable.scss';

.home-page {
  width: 100%;
  min-height: 100vh;
  
  main {
    width: 100%;
    .container{
      max-width: 1920px;
      padding: 0 100px;
    }
    section{
      border-top: 8px solid #d8d8d8;
    }
  }

  .fullscreen-split{
    .left{
      img{
        max-height: 600px;
        max-width: 100%;
        width: auto;
      }
    }
  }

  .split-section{
    @include flex-display;
    flex-direction: row;
    
    .background-wrap{
      @include flex-display;
      flex-direction: column;
      width: 50%;
      justify-content: space-between;
    }
      
  }

  // cookiesBar
  .cookiesBar {
    padding: 16px 100px;
    .container {
      max-width: 100%;
      padding: 0;
    }
  }



}
 
@media screen and (max-width: 1199px) {
  .home-page {
    main {
      .container{
        max-width: 1920px;
        padding: 0 50px;
      }
    }

    // cookiesBar
    .cookiesBar {
      padding: 16px 50px;
      .container {
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .home-page {
    main {
      .container{
        padding: 0 22px;
      }
    }
    .split-section{
      flex-direction: column;
      .background-wrap{
        width: 100%;
        &:last-child{
          border-top: 8px solid #d8d8d8;
        }
      }
        
    }
  } 
}

@media screen and (max-width: 767px) {
  .home-page {
    // cookiesBar
    .cookiesBar {
      padding: 16px 22px;
    }
  }
}