@use '../../../../styles/variable.scss' as *;

.borderCard{
    cursor: pointer;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    overflow: hidden;
    color: $text-black;
    text-align: left;
    display: inline-flex;
    flex-direction: column;

    .image-wrapper{
        overflow: hidden;
        padding: 16px;
        background-color: #F1F1F1;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: auto;
            height: auto;
            max-width: 100%;
            -webkit-transition: all 200ms ease-in;
            -webkit-transform: scale(1);
            -ms-transition: all 200ms ease-in;
            -ms-transform: scale(1);
            -moz-transition: all 200ms ease-in;
            -moz-transform: scale(1);
            transition: all 200ms ease-in;
            transform: scale(1);
        }
    }
    
    .content{
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .upper{
            display: flex;
            flex-direction: column;
            gap: 8px;
            
            p{
                font-family: $content-font;
                margin: 0;
                font-size: 14px;
            }
        }
        &.center{
            align-items: center;
            justify-content: center;
            h5{
                text-align: center;
            }
        }
        a{
            display: inline-block;
            margin: 24px 0 0 0;
        }
    }
    &:hover{
        border: 1px solid $secondary-colour;
        .image-wrapper{
            img{
                -webkit-transition: all 200ms ease-in;
                -webkit-transform: scale(1.08);
                -ms-transition: all 200ms ease-in;
                -ms-transform: scale(1.08);
                -moz-transition: all 200ms ease-in;
                -moz-transform: scale(1.08);
                transition: all 200ms ease-in;
                transform: scale(1.08);
            }
        }
        .content{
            .upper{
                font-weight: 400;
            }
        }
        
    }
}


@media screen and (max-width: 767px) {
    .borderCard{
        
        .content{
            a{
                display: inline-block;
                margin: 20px 0 0 0;
            }
        }

    }
}