.pack-overlay-wrapper {
  background-color: #f9f9f9;
}
.pack-overlay-wrapper .pack-banner {
  width: 100%;
  height: auto;
  border-bottom: 7px solid #EF9528;
}
.pack-overlay-wrapper .container {
  width: 80%;
  margin: 0 auto;
  padding: 0 22px !important;
}
.pack-overlay-wrapper .pack-about-wrapper {
  padding: 48px 0;
}
.pack-overlay-wrapper .pack-about-wrapper .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
}
.pack-overlay-wrapper .pack-about-wrapper h4 {
  white-space: nowrap;
}
.pack-overlay-wrapper .pack-about-wrapper p {
  margin: 0 0 0 48px;
  font-family: "Barlow", "Noto Sans TC", sans-serif;
  color: #4a4a4a;
  width: 100%;
  max-width: 60%;
  font-size: 16px;
  line-height: 1.4;
  text-align: left;
}
.pack-overlay-wrapper .channel-wrapper {
  position: relative;
}
.pack-overlay-wrapper .channel-wrapper .channel-description {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: white;
  border: 0;
  border-top: 1px solid #f9f9f9;
  border-bottom: 1px solid #f9f9f9;
  max-height: 0;
  opacity: 0;
}
.pack-overlay-wrapper .channel-wrapper .channel-description .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-height: 0;
}
.pack-overlay-wrapper .channel-wrapper .channel-description .container .channel-name {
  width: 40%;
  display: flex;
  flex-direction: row;
}
.pack-overlay-wrapper .channel-wrapper .channel-description .container .channel-name span {
  color: #9b9b9b;
  font-family: "Montserrat", "Noto Sans TC", sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  margin-right: 8px;
  text-align: left;
}
.pack-overlay-wrapper .channel-wrapper .channel-description .container .channel-name h6 {
  display: inline-block;
  font-weight: 600;
  color: #0b0b0b;
  text-align: left;
}
.pack-overlay-wrapper .channel-wrapper .channel-description .container p {
  margin: 0 0 0 48px;
  font-family: "Barlow", "Noto Sans TC", sans-serif;
  color: #4a4a4a;
  width: 100%;
  max-width: 60%;
  font-size: 16px;
  line-height: 1.4;
  text-align: left;
}
.pack-overlay-wrapper .channel-wrapper .channel-description.active {
  max-height: none;
  padding: 30px 0;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
.pack-overlay-wrapper .channel-wrapper .channel-description.active .container {
  max-height: none;
}
.pack-overlay-wrapper .channel-wrapper .channel-description.active.show {
  opacity: 1;
  transition: all 0.25s ease-in-out;
}

@media screen and (max-width: 991px) {
  .pack-overlay-wrapper .container {
    width: 100%;
    max-width: 100%;
  }
  .pack-overlay-wrapper .pack-about-wrapper {
    padding: 32px 0;
  }
  .pack-overlay-wrapper .pack-about-wrapper .container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .pack-overlay-wrapper .pack-about-wrapper h4 {
    margin: 0 0 16px 0;
    width: 100%;
  }
  .pack-overlay-wrapper .pack-about-wrapper p {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
  .pack-overlay-wrapper .channel-wrapper .channel-description .container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .pack-overlay-wrapper .channel-wrapper .channel-description .container .channel-name {
    width: 100%;
  }
  .pack-overlay-wrapper .channel-wrapper .channel-description .container p {
    max-width: 100%;
    margin: 10px 0 0 0;
  }
}
@media screen and (max-width: 767px) {
  .pack-overlay-wrapper .pack-about-wrapper p {
    font-size: 14px;
  }
  .pack-overlay-wrapper .channel-wrapper .channel-description .container .channel-name span {
    font-size: 16px;
  }
  .pack-overlay-wrapper .channel-wrapper .channel-description .container p {
    font-size: 14px;
  }
}
@media screen and (max-width: 575px) {
  .pack-overlay-wrapper .pack-about-wrapper {
    text-align: center;
  }
}/*# sourceMappingURL=PackOverlay.css.map */