@use '../../../../styles/variable.scss' as *;

// home carousel
    .article-banner {
        position:relative;
        width: 100%;
        overflow-x: hidden;
        background-color: #191919;
        img{
            max-width: 100%;
        }

        .swiper-slide {
            height: auto;
            display:flex;
            background: #191919;
            align-items: center;
            justify-content:center;
            transition:all 200ms linear;
            margin: 0 !important;
            opacity: 0.1;
            pointer-events: none;
            
            &.swiper-slide-active{
              opacity: 1;
              pointer-events: all;
            }
        }

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            text-align: center;
            line-height: 10px;
            font-size: 10px;
            border:2px solid #D9D9D9;
            opacity: 1;
            background-color: rgba($color: #191919, $alpha: 0);
        }
      
        .swiper-pagination-bullet-active {
            color: #fff;
            border:2px solid #CF6B0D;
        }

        .swiper-button-next,
        .swiper-button-prev {
            border:1px solid #fff;
            transform: none;
            &:hover {
                border:1px solid #CF6B0D;
                
                background: rgba($color: #4a4a4a, $alpha: 0.6);
                &::after{
                    color: #CF6B0D;
                }
            }
        }
        .swiper-button-prev{left: 5%;}
        .swiper-button-next{right: 5%;}


    }
    .article-banner > .swiper-slide__content {
      position:absolute;
      top:0;
    }