@import '../../../styles/variable.scss';

.price-tag {
  font-size: 16px;
  font-family: $heading-font;
  font-weight: 400;
  
  b {
    font-size: 32px;
    font-weight: 500;
  }
} 
@media screen and (max-width: 767px) {
  .price-tag {
    font-size: 14px;    
    b {
      font-size: 28px;
    }
  } 
}
