@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Montserrat:wght@4300;00;500;600;700&family=Noto+Sans+TC:wght@400;500;700&display=swap');
@import './variable.scss';

*, *::before, *::after {
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 22px;
}

.subPages{
    padding: 48px 0 0 0;
}

a{
    color: $secondary-colour;
    font-family:$content-font;
    text-decoration: none;
    &:hover{
        font-weight: 500;
    }
}

.primary-colour{color: $primary-colour;} 
.secondary-colour{color: $secondary-colour;} 
.warning{color: $text-error;}

.btn{
    font-family: $heading-font;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    font-weight: 500;
    line-height: 1;
    border:0;
    cursor: pointer;
    padding: 14px 20px;
    font-size: 18px;
    border-radius: 30px;
    min-width: 160px;
    white-space: nowrap;
    &.primary{
        background-color: $primary-colour;
        color: white;
        &:hover{
            background-color: #F37D16;
        }
    }
    &.secondary{
        background-color: #f1f1f1;
        color: $text-black;
        &:hover{
            background-color: #c9c9c9;
        }
    }
    &.outline{
        background-color: rgba($color: white, $alpha: 0);
        border: 2px solid $secondary-colour;
        color: $secondary-colour;
        &:hover{
            background-color: #F37D16;
            color: white;
            border: 2px solid #F37D16;
        }
    }

    &[disabled] {
        pointer-events: none;
        opacity: 0.3;
    }

    &.selected{
        position: relative;
        &::after{
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translate(0%,-50%);
            font-family: 'nowicon';
            content: "\e902";
            font-size: 14px;
            
        }
    }
    
}

h1,h2,h3,h4,h5,h6{
    font-family: $heading-font;
    font-weight: 500;
    margin: 0;
    text-wrap: pretty;
}

h1{font-size: 48px;}
h2{font-size: 32px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 18px;}

p{line-height: 1.4;}

// modal window
// .modal-open {
//     overflow: hidden;
//     padding: 0 15px 0 0;
//     .modal-wrapper {
//         overflow-x: hidden;
//         overflow-y: auto;
//     }
// }

.modal-open {
    overflow: hidden;
    padding: 0 15px 0 0;
    .modal-wrapper {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.modal-wrapper{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 22px;
    opacity: 0;
    pointer-events: none !important;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;


    .modal-dialog {
        width: 100%;
        max-height: 100vh;
        max-width: 100%;

        .modal-content-wrapper {
            position: relative;
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 48px 0;
            top: 20px;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;

            &.md{max-width: 900px;}

            &.sm {max-width: 600px;}
            

            .close-modal {
                margin: 0 0 8px 0;
                text-align: right;
                button{
                    color: white;
                }
            }

        }
    }

    &.show {
        opacity: 1;
        pointer-events: auto !important;
        overflow-x: hidden;
        overflow-y: auto;
        .modal-dialog {pointer-events: all;}
        .modal-content-wrapper {
            top: 0;
        }
    }
}

.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}

@media screen and (max-width: 1399px) {
    h1{font-size: 36px;}
    h2{font-size: 28px;}
}

@media screen and (max-width: 1199px) {

    // .container{
    //     max-width: 960px;
    // }
}

@media screen and (max-width: 767px) {
    h1{font-size: 28px;}
    h2{font-size: 24px;}
    h3{font-size: 22px;}
    h4{font-size: 20px;}
    h5{font-size: 18px;}
    h6{font-size: 16px;}

    .btn{
        padding: 12px 16px;
        font-size: 16px;
    }

    .subPages{
        padding: 36px 0 0 0;
    }
    
}