$heading-font: 'Montserrat','Noto Sans TC',sans-serif;
$content-font: 'Barlow','Noto Sans TC',sans-serif;
$primary-colour: #EF9528;
$secondary-colour:#CF6B0D;
$text-black: #0b0b0b;
$text-grey: #4a4a4a;
$text-error:#b00020;

@mixin flex-display {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
