@use '../../../../styles/variable.scss' as *;

// radio button
.radio-btn-group{
    label{
        position: relative;
        display: inline-block;
        padding: 0 0 0 36px;
        margin: 0;
        cursor: pointer;
        left: 0;
        width: auto;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        input {
            display: none;
        }

        input[type="radio"]+label:before {
            width: 28px;
            height: 28px;
            padding: 8px 0px 0 8px;
            border-radius: 50%;
            position: absolute;
            left: -36px;
            top: -5px;
            display: inline-block;
            font-family: 'nowicon';
            content: '';
            line-height: 1;
            color: #9b9b9b;
            background-color: white;
            border: 1px solid #9b9b9b;
        }
        
        input[type="radio"]:checked+label:before {
            content: "\e902";
            font-size: 10px;
            color: $text-black;
            position: absolute;
        }

        label{
            font-family: $content-font;
            font-weight: 500;
            font-size: 18px;
            margin: 0 36px 0 0;
            padding: 0;
            color: $text-grey;
            line-height: 1;
        }
    }
    
}

@media screen and (max-width: 767px) {
    .radio-btn-group{
        label{
            padding: 0 0 0 30px;
            input[type="radio"]+label:before {
                width: 24px;
                height: 24px;
                padding: 6px 0px 0 6px;
                left: -30px;
                top: -4px;
            }

            label{
                font-size: 16px;
                margin: 0 32px 0 0;
            }
        }
    }
}