@import '../../../styles/variable.scss';
@import url('../../../styles/now-icon.css');

.myaccount-wrapper{
    .heading {
        margin: 60px 0;
        text-align: center;

        h2 {
            margin: 0 0 10px 0;
        }

        h6 {
            color: $text-grey;
        }
    }

    .myaccount-section{
        section{
            width: 100%;
            background: none;
            padding-top: 60px;
            padding-bottom: 60px;
            &:nth-child(2n-1) {
                background: #F7F7F7;
            }

            .container {
                @include flex-display;
                flex-direction: row;
                flex-wrap: wrap;
            }

            .title {
                width: 25%;

                p {
                    margin: 20px 0 0 0;
                    color: #9b9b9b;
                    font-family: $content-font;
                }
            }

            .account-details {
                width: 75%;
                font-family: $content-font;
                padding-left: 60px;

                .item{
                    @include flex-display;
                    flex-direction: row;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    margin: 0 0 40px 0;
                    &:last-child {
                        margin: 0;
                    }

                    h6 {
                        width: 25%;
                        font-family: $content-font;
                        text-align: left;
                        font-weight: 400;
                        color: $text-grey;
                        padding-right: 12px;
                        font-size: 16px;
                    }

                    .information{
                        width: 75%;
                        @include flex-display;
                        flex-direction: row;

                        .data{
                            @include flex-display;
                            flex-direction: column;

                            b{
                                position: relative;
                                top: -4px;
                                display: inline-flex;
                                align-items: center;
                                font-weight: 500;
                                font-size: 20px;
                                margin: 30px 0 0 0;
                                line-height: 1.4;

                                &:first-child {
                                    margin: 0;
                                }

                                &.checked{
                                    &::after{
                                        position: relative;
                                        display: inline-flex;
                                        align-items: center;
                                        justify-content: center;
                                        margin: 0 0 0 8px;
                                        width: 20px;
                                        height: 20px;
                                        border-radius: 50%;
                                        background-color: $primary-colour;
                                        font-family: 'nowicon';
                                        content: "\e905";
                                        color: white;     
                                        font-size: 10px;                               }
                                }

                                a.verify{
                                    position: relative;
                                    top: 2px;
                                    display: inline-block;
                                    margin:0 0 0 8px;
                                    font-size: 14px;
                                    text-decoration: underline;
                                }

                            }

                            a {
                                cursor: pointer;
                                font-size: 18px;
                                font-family: $content-font;
                                display: inline-block;
                                margin: 30px 0 0 0;

                                &.mobile{color:#9b9b99; display: none;}

                                &:first-child {
                                    margin: 0;
                                }
                            }

                            .billdate {
                                width: 100%;
                                @include flex-display;
                                flex-direction: row;

                                a {
                                    color: $text-black;
                                    text-decoration: underline;
                                    display: inline-block;
                                    margin: 0 8% 0 0;
                                    white-space: nowrap;

                                    &:last-child {
                                        margin: 0;
                                    }

                                    &:hover {
                                        font-weight: 500;
                                    }
                                }
                            }

                        }

                        .box {
                            width: 75%;
                            display: none;

                            &.active{
                                display: block;
                            }

                            input {
                                padding: 12px;
                                margin: 0 0 16px 0;
                            }

                            p.error {
                                margin:0 0 16px 0;
                                font-size: 16px;
                                color: $text-error;
                                &.active{
                                    display: block;
                                }
                            }

                            .cta-buttons {
                                margin: 0 0 0 0;

                                button {
                                    margin: 0 16px 0 0;
                                    &:last-child {
                                        margin: 0;
                                    }
                                }
                            }

                        }

                        .controls {
                            @include flex-display;
                            flex-direction: column;
                            margin-left: 24px;

                            label {
                                color: #9b9b99;
                                font-weight: 500;
                                font-size: 16px;
                            }

                            a {
                                font-size: 18px;
                                color: #9b9b99;
                                text-decoration: none;
                                display: inline-block;
                                margin: 0 0 38px 0;
                                &:last-child{margin: 0;}

                                &:hover {
                                    color: $text-grey;
                                }
                            }
                        }

                        &.editMode {

                            .data,
                            .controls {
                                display: none;
                            }

                            .box {
                                display: block;
                            }
                        }

                        &.addnew {
                            .controls {
                                display: none;
                            }
                        }

                        &.address{
                            .box{
                                p.error{margin: 0 0 16px 0;}
                            }
                        }

                    }

                }

                .other-links {
                    @include flex-display;
                    flex-direction: column;
                    margin-top: 50px;
                    padding-top: 40px;
                    border-top: 2px solid #d8d8d8;

                    a {
                        font-size: 18px;
                        display: inline-block;
                        align-self: flex-start;
                        margin-bottom: 30px;

                        &:last-child {
                            margin: 0;
                        }
                    }
                }

                .single-link{
                    font-size: 18px;
                }

            }

        }

        .logout-wrapper {
            text-align: center;
            border-top: 2px solid #d8d8d8;
            padding-top: 32px;
            margin-bottom: 96px;
        }
    }

    // subpages
    .subpages {
        width: 100%;
        background: rgb(247, 247, 247);
        background: linear-gradient(90deg, rgba(247, 247, 247, 1) 40%, rgba(255, 255, 255, 1) 40%);

        .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .section-title {
            padding: 40px 40px 0 0;
            width: 33.33%;
            background-color: #f7f7f7;
            min-height: 100vh;
            h3{
                color: $text-black;
            }
        }

        .section-content {
            width: 66.66%;
            padding: 40px 0 0 40px;

            h4{
                font-weight: 600;
                &.border{
                    padding: 16px;
                    width: 100%;
                    border-bottom: 2px solid #0b0b0b;
                    margin: 0 0 32px 0;
                }
            }

            

            

            .form-wrapper {
                margin: 40px 0;

                .item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: wrap;
                    border-bottom: 1px solid #d8d8d8;
                    padding-bottom: 30px;
                    margin-bottom: 30px;
                    
                    label {
                        font-family: $content-font;
                        color: $text-grey;
                        width: 30%;
                        font-size: 16px;
                    }

                    .box {
                        width: 70%;

                        b {
                            font-family: $content-font;
                            color: $text-black;
                            font-weight: 400;
                            font-size: 18px;
                        }

                        a {
                            display: inline-block;
                            margin: 0 0 0 20px;
                            text-decoration: underline;
                        }

                        button{
                            min-width: 100%;
                        }

                        &.month-year-wrap {
                            display: flex;
                            align-items: center;

                            .month {
                                min-width: 100px;
                            }

                            span {
                                display: inline-block;
                                font-size: 20px;
                                margin: 0 20px;
                            }

                            .year {
                                min-width: 150px;
                            }
                        }





                    }

                    // bill settings
                    .radio-btn-group{
                        label{
                            width: initial;
                            font-size: 18px;
                        }
                    }
                }

                &.noBorder{
                    .item{
                        border:0;
                        padding: 0 0 8px 0;
                    }
                    .cta-wrappers{
                        border-top: 1px solid #d8d8d8;
                        padding-top: 40px;
                    }
                }

                .notes {
                    margin: 40px 0;

                    p {
                        margin: 0 0 16px 0;

                        &:last-child {
                            margin: 0;
                        }

                        color: #9b9b9b;
                        font-size: 14px;
                        font-family: $content-font;
                    }
                }

                .cta-wrappers {
                    margin: 40px 0;
                    display: flex;
                    flex-direction: row;

                    button {
                        margin: 0 24px 0 0;
                    }

                    &.border {
                        padding-top: 40px;
                        border-top: 1px solid #d8d8d8
                    }

                }
            }

            // payment history
            .payment-history{
                .item{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin: 0 0 32px 0;
                    h6{
                        margin: 0 0 8px 0;
                        color: $secondary-colour;
                    }
                    .data{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        p{
                            font-family: $content-font;
                            color: #666;
                            font-size: 16px;
                            margin: 0;
                        }
                    }
                }
            }

            // manage devices
            .manage-devices-wrapper{

                h6{font-weight: 600;}

                .status{
                    display: flex;
                    flex-direction: row;
                    font-family: $content-font;
                    margin: 8px 0 0 0;
                    font-size: 18px;
                    color: $text-grey;
                    b{
                        font-weight: 500;
                    }
                    div{
                        display: inline-block;
                        margin: 0 20px 0 0;
                    }
                }

                .devices-wrapper{
                    margin: 32px 0 0 0;
                    padding: 32px 0 0 0;
                    border-top: 2px solid $text-black;
                    .item{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        margin: 0 0 32px 0;
                        // &:last-child{margin: 0;}
                        .device{
                            display: flex;
                            flex-direction: row;
                            font-family: $content-font;
                            width: 100%;
                            justify-content: space-between;
                            padding-right: 20px;
                            align-items: center;
                            .name{
                                font-size: 18px;
                                font-weight: 500;
                                line-height: 1.5;
                            }
                            .device-status{
                                font-size: 16px;
                            }
                        }
                    }

                    .removeCTA{
                        font-size: 20px;
                    }
                }

            }

            // Subscribed Channels
            .subscribed-channels {
                margin: 0 0 60px 0;
                    .wrapper {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;

                        &.hide {
                            display: none;
                        }

                        .item {
                            display: flex;
                            width: 50%;
                            justify-content: flex-start;
                            align-items: center;
                            margin: 0 0 40px 0;

                            &:nth-child(even) {
                                padding-left: 16px;
                            }

                            .image {
                                display: inline-flex;
                                align-items: center;
                                width: 70px;
                                height: 50px;
                                margin: 0 16px 0 0;

                                img {
                                    max-width: 100%;
                                    max-height: 100%;
                                }
                            }

                            .channel {
                                h5 {
                                    font-family: $content-font;
                                    font-weight: 500;
                                    font-size: 18px;
                                    margin: 0;
                                }

                                p {
                                    font-family: $content-font;
                                    color: #828282;
                                    font-size: 16px;
                                    margin: 12px 0 0 0;
                                }
                            }
                        }

                        &:last-child{
                            .item{
                                &:nth-last-child(1),
                                &:nth-last-child(2) {
                                    margin: 0;
                                }
                            }
                        }



                    }

                    button {
                        min-width: 180px;
                    }
            }

            // VAS
            .value-added-services{
                margin: 0 0 60px 0;
                ul{
                    padding: 0 0 0 15px;
                    margin: 0;
                    li{
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        font-family: $content-font;
                        font-size: 18px;
                        color: $text-black;
                        font-weight: 500;
                        margin: 0 0 16px 0;
                    }
                }
            }






        }

    }

    // alert wrapper

    // manage devices
    .manage-devices-alert-wrapper{
        width: 100%;
        background-color: white;
        border-radius: 6px;
        padding: 40px;

        h4 {
            text-align: center;
            margin: 0 0 24px 0;
        }

        p {
            font-family: $content-font;
            color: $text-black;
            margin: 24px 0;
            font-size: 18px;
            text-align: center;
            b{
                font-weight: 600;
            }
        }

        .cta-buttons {
            margin: 24px 0 0 0;
            width: 100%;
            display: flex;
            justify-content: center;
            gap:16px;
            button {
                min-width: 180px;
                margin: 0;
            }
        }
    }

}

@media screen and (max-width: 1920px) {
    // subpages
    .myaccount-wrapper {
        .subpages {
            background: rgb(247, 247, 247);
            background: linear-gradient(90deg, rgba(247, 247, 247, 1) 30%, rgba(255, 255, 255, 1) 30%);
        }
    }
    
}

@media screen and (max-width: 1199px) {
    .myaccount-wrapper {

        .myaccount-section {
            section{
                .account-details{
                    .item{
                        h6,.information{width: 100%;}
                        h6{
                            margin: 0 0 8px 0;
                        }
                    }
                }
            }
            
        }

    }
}

@media screen and (max-width: 991px) {
    .myaccount-wrapper {

        .myaccount-section{
            section {
                .container {
                    flex-direction: column;
                }
    
                .title {
                    width: 100%;
                    margin: 0 0 36px 0;
    
                    p {
                        margin: 10px 0 0 0;
                    }
                }
    
                .account-details {
                    width: 100%;
                    padding: 0;
    
                    .item {
                        flex-direction: column;
    
                        .information {
                            .data {
                                b {
                                    margin: 20px 0 0 0;
                                    top: 0;
                                }
    
                                a {
                                    margin: 20px 0 0 0;
    
                                    &:first-child {
                                        margin: 0;
                                    }
                                }
    
                                .billdate {
                                    a {
                                        margin: 0 10% 0 0;
                                    }
                                }
                            }
    
                            .controls {
                                margin: 4px 0 0 20px;
                                a{
                                    margin: 0 0 32px 0;
                                }
                            }
                        }
    
                    }
                }
            }
        }

        .subpages{
            position: relative;
            background: white;
            min-height: 75vh;
            overflow-x: hidden;

            .container {
                flex-direction: column;
            }

            .section-title {
                position: relative;
                z-index: 1;
                min-height: auto;
                width: 100%;
                text-align: center;
                padding: 30px 0;


                &::after {
                    z-index: -2;
                    position: absolute;
                    width: 200vw;
                    height: 100%;
                    left: -200px;
                    top: 0;
                    content: '';
                    background-color: #f7f7f7;
                }
            }

            .section-content {
                position: relative;
                z-index: 1;
                width: 100%;
                padding: 30px 0 0 0;

                h4{
                    text-align: center;
                }

                

                .form-wrapper{
                    .notes{
                        p{
                            text-align: center;
                        }
                    }

                    .cta-wrappers{
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .myaccount-wrapper {
        .heading {
            margin: 40px 0;
            h2 {margin: 0 0 8px 0;}
        }

        .myaccount-section{
            section {
                width: 100%;
                background: none;
                padding-top: 0;
                padding-bottom: 0;

                .title {
                    padding: 24px 0;
                    margin: 0;

                    h3 {
                        position: relative;
                        cursor: pointer;
                        padding-right: 16px;

                        &::after {
                            position: absolute;
                            content: "\e900";
                            font-family: 'nowicon';
                            font-size: 10px;
                            color: #9b9b9b;
                            right: 0;
                            top: 8px;
                            -webkit-transition: transform 0.2s linear;
                            -moz-transition: transform 0.2s linear;
                            -o-transition: transform 0.2s linear;
                            transition: transform 0.2s linear;
                        }
                    }

                    p {
                        transition: height 0.3s ease;
                        height: 0;
                        margin: 0;
                        font-size: 14px;
                        opacity: 0;
                    }
                }

                .account-details {
                    max-height: 0;
                    overflow: hidden;
                    transition: height 0.3s ease;
                    padding-bottom: 0;

                    .item {
                        margin: 0 0 32px 0;

                        .information {
                            flex-direction: column;

                            .data {
                                b {
                                    font-size: 18px;
                                    margin: 12px 0 0 0;
                                    &.checked{
                                        &::after{
                                            margin: 0 0 0 6px;
                                            width: 16px;
                                            height: 16px;    
                                            font-size: 8px;                               }
                                    }

                                    a.verify{
                                        top: 1px;
                                    }
                                }

                                a {
                                    font-size: 16px;
                                    margin: 12px 0;
                                    
                                    &.mobile{color:#9b9b99; display: inline-block;margin: 4px 0 0 0;}
                                }

                            }

                            .box {
                                width: 100%;

                                input {
                                    padding: 12px;
                                }

                                p.error {
                                    font-size: 14px;
                                }

                                .cta-buttons {
                                    margin: 16px 0 0 0;
                                    @include flex-display;
                                    flex-direction: row;

                                    button {
                                        margin: 0 16px 0 0;
                                    }
                                }

                            }


                            .controls {
                                margin: 4px 0 0 0;

                                label {
                                    font-size: 14px;
                                }

                                a {
                                    align-self: flex-start;
                                    display: inline-block;
                                    font-size: 16px;
                                    margin: 0 0 0 0;
                                    &.desktop{display: none;}
                                }
                            }

                        }
                    }

                    .other-links {
                        margin: 30px 0 0 0;
                        padding: 30px 0 0 0;

                        a {
                            font-size: 16px;
                            margin: 0 0 24px 0;
                        }
                    }
                    .single-link{
                        font-size: 16px;
                    }
                }



                &.active {
                    .title {
                        h3 {
                            &::after {
                                color: $primary-colour;
                                transform: rotate(180deg);
                            }
                        }

                        p {
                            opacity: 1;
                            height: initial;
                            margin: 6px 0 0 0;
                        }
                    }
                    .account-details {
                        max-height: initial;
                        padding-bottom: 24px;
                    }
                    
                }


            }
        }

        .subpages{
            .section-content {

                h4{
                    &.border{
                        text-align: left;
                    }
                }

                .form-wrapper {
                    margin: 30px 0;

                    &.noBorder{
                        .cta-wrappers{
                            padding-top: 30px;
                        }
                    }

                    .item {
                        flex-direction: column;
                        align-items: flex-start;
                        padding-bottom: 20px;
                        margin-bottom: 20px;

                        label {
                            width: 100%;
                            font-size: 14px;
                            margin: 0 0 8px 0;
                        }

                        .box {
                            width: 100%;

                            b {
                                font-size: 16px;
                            }

                            a {
                                margin: 0 0 0 16px;
                                font-size: 14px;
                            }
                        }

                        // bill settings
                        .radio-btn-group{
                            label{
                                width: initial;
                                font-size: 16px;
                                margin:0 0 16px 0;
                                label{
                                    margin: 0 16px 0 0;
                                }
                            }
                        }
                    }

                    .notes {
                        margin: 30px 0;
                        p {
                            font-size: 13px;
                        }
                    }

                    .cta-wrappers {
                        margin: 0 0;
                        display: flex;
                        flex-direction: column;

                        button {
                            min-width: 180px;
                            align-self: center;
                            margin: 20px 0 0 0;
                        }
                    }

                }

                // payment history
                .payment-history{
                    .item{
                        margin: 0 0 24px 0;

                        .data{
                            flex-direction: column;
                            p{
                                font-size: 14px;
                                text-align: left;
                                margin: 0 0 8px 0;
                                :last-child{margin: 0;}
                            }
                        }
                        
                    }
                }

                // manage devices
                .manage-devices-wrapper{


                    .status{
                        flex-direction: column;
                        margin: 8px 0 0 0;
                        font-size: 16px;
                        div{
                            display: inline-block;
                            margin: 0 0 6px 0;
                        }
                    }

                    .devices-wrapper{
                        margin: 28px 0 0 0;
                        padding: 28px 0 0 0;
                        border-top: 2px solid #0b0b0b;
                        .item{
                            align-items: flex-start;
                            .device{
                                flex-direction: column;
                                padding-right: 0;
                                align-items: flex-start;
                                .name{
                                    font-size: 16px;
                                }
                                .device-status{
                                    font-size: 14px;
                                }
                            }
                        }

                        .removeCTA{
                            font-size: 18px;
                        }
                    }
                    
                }

                .subscribed-channels {
                    margin: 0 0 40px 0;
                    .wrapper {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;

                        .item {
                            width: 100%;
                            padding: 0;

                            &:nth-child(even) {
                                padding-left: 0;
                            }

                            .channel {
                                h5 {
                                    font-size: 16px;
                                }

                                p {
                                    font-size: 14px;
                                    margin: 10px 0 0 0;
                                }
                            }
                        }

                        &:last-child{
                            .item{
                                &:nth-last-child(2) {
                                    margin: 0 0 40px 0;
                                }
                                &:last-child{
                                    margin: 0;
                                }
                            }
                        }
                    }

                }

                // VAS
                .value-added-services{
                    margin: 0 0 40px 0;
                    ul{
 
                        li{
                            font-size: 16px;
                        }
                    }
                }


            }
        }

        // alert wrapper
        .manage-devices-alert-wrapper{
            padding: 30px;
            h4{margin: 0 0 20px 0;}
            p {
                font-size: 16px;
                margin: 20px 0;
            }

            .cta-buttons {
                margin: 0 0 0 0;
                text-align: center;
                width: 100%;
                display: flex;
                flex-direction: column-reverse;

                button {
                    align-self: center;
                }
            }
        }

    }
}