.hero-terms-wrapper{
    padding: 22px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
        font-family: 'Barlow', sans-serif;
        font-size: 14px;
        line-height: 1.5;
        color: #0b0b0b;
        margin: 0 0 16px 0;
        &:last-child{
            margin: 0;
        }
    }
    button{
        align-self: center;
    }
}