@import '../../../../../styles/variable.scss';

.search-container {
    position: relative;
    display: inline-block;

    .search-button {
        background: none;
        border: none;
        cursor: pointer;
        color: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $text-black;

        &:hover {
            opacity: 0.8;
        }

        i {
            font-size: 20px;
            position: relative;
        }
    }
} 

@media screen and (max-width: 1199px) {
    .search-container {
        .search-button {
            i {
                font-size: 18px;
            }
        }
    } 
    
}